<!Doctype html>
<html ng-app="app">

<head>
    <title>HELLO ANGULAR</title>
    <script type="application/javascript" src="js/lib/angular/angular.js"></script>
    <script type="application/javascript" src="js/app/app.js"></script>

</head>

<body>

    <div ng-controller="helloController as hello">
        <h1>Some random text about stuff {{2+2}}</h1>
        <p>{{hello.hello}}</p>
        <p>{{hello.bye}}</p>
        <input type=text ng-model="hello.sample" placeholder={{hello.hello}}>
        <p>{{hello.sample}}</p>
    </div>

    <div ng-controller='clickController as click'>
        <h2>angular events</h2>
        <input type="text" ng-model="click.input">
        <button type="button" ng-click="click.changeHeader()">change header</button>
        <h2>{{click.header}}</h2>

    </div>


</body>

</html>
